DATABASE_URL="postgresql://user:password@localhost:5432/qonys?schema=public"
DIRECT_URL="postgresql://user:password@localhost:5432/qonys?schema=public"

NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

PAYMENT_PROVIDER="mock"
PAYMENT_MERCHANT_ID=""
PAYMENT_SECRET=""
PAYMENT_WEBHOOK_SECRET=""

# Карта (2ГИС) — бесплатный ключ: https://dev.2gis.com/
NEXT_PUBLIC_2GIS_API_KEY=""
